<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.orderbackv1.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.example.orderbackv1.domain.Order">
            <id property="orderId" column="order_id" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="orderDetail" column="order_detail" jdbcType="VARCHAR"/>
            <result property="totalCount" column="total_count" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="orderDeleted" column="order_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,user_id,goods_id,
        address,status,create_time,
        update_time,order_detail,total_count,
        total_price,order_deleted
    </sql>
</mapper>
